html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    background-color: rgb(240, 240, 240);
    
}

img,
picture {
    display: block;
    max-width: 100%;
}

button,
input,
textarea,
select {
    font: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.profile-card{
    border: 1px solid rgba(0, 0, 0,0.1);   
    margin: 12px 12px;
    background-color: white;
}

.profile-card figure{
    width: 100%;
    position: relative;
}

.profile-card figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: rgba(245, 245, 245,0.5);
    width: 100%;
    

    text-align: center;
}

.profile-card .profile-card__info{
    padding: 12px;

}

.profile-card .profile-card__skills{
    padding: 12px;
}

.profile-card .profile-card__skills ul{
    padding: 12px;
    list-style-type:circle; }


main{
    margin: 12px 12px;
    
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}


.dates{
    color: #1a1952;
}

.work-card{
    background-color: white;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0,0.1); 
}

.work-card h2{
    margin-bottom: 12px;
}

.work-card ul {
    padding: 12px;
    list-style-type: circle;
}

hr{
    margin-bottom: 12px;
}

.education-card{
    background-color: white;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0,0.1); 
}

footer {
    width: 100%;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #1a1952;
    color: white;
}

footer ul{
    display: flex;
    gap: 12px;
}


